# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# FastAPI
*.db

# Node Modules
node_modules/

# React Build
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Files
.env.local
.env.development.local
.env.test.local
.env.production.local
